body {
    font-family: sans-serif;
    color: darkslategrey;
    text-align: center;
    background-color: whitesmoke;
}

.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: lightseagreen

}

.table__row:nth-child(even) {
    background-color: white;

}
.table__header {
    text-align: left;

}

.table__cell {
    padding: 8px;

}

.testbutton {
    display:inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: .25rem;
  }
  
.card .card-header {
    background-color: #fff;
    border-bottom: none;
  }

.alert-message-warning
  {
      background-color: #fcf8f2;
      border-color: #f0ad4e;
      text-align: center;
  }
  